//@import "../tags/style.scss";
.list-view-item {
    display: flex;
    width: 100%;
    height: 75px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 25px;
    border: 1px solid #D5DCE3;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(19, 53, 84, 0.04), 0px 8px 13px rgba(0, 52, 101, 0.03);
    border-radius: 3px;

}

.list-view-item-subtitle {
    margin-right: 5px;
    font-size: 20px;
    text-transform: uppercase;
    color: #273A4B;

    &:after {
        content: ":";
    }
}

.list-view-item-title {
    flex-grow: 3;
    font-size: 20px;
    font-weight: normal;
    color: #273A4B;
}

.list-view-item-info {
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 7px;
    list-style-type: none;

    li {
        display: inline;

        &:not(.tag) {
            font-style: normal;
            line-height: 21px;
            font-size: 14px;
            color: #9DAAB5;
        }

        &:after {
            content: "";
            display: inline-block;
            height: 35px;
            width: 1px;
            margin: 0 15px;
            position: relative;
            top: 12px;
            border-right: 1px dotted rgba(0, 0, 0, .2);
        }

        &.tag:after {
            display: none;
        }

        &.tag {
            position: relative;
            bottom: 2px;
        }
    }
}

.list-view-item-preview-number span {
    font-family: 'Fira Code';
    line-height: 21px;
    font-size: 16px;
    color: rgb(8, 172, 194);
}

.tag {
    display: inline;
}

.btn-menu {
    margin-left: 20px;
    margin-right: -3px;
    position: relative;
    bottom: 3px;
    &--user {
        margin-left: $all-zero;
        margin-right: $all-zero;
        padding: $all-zero + 7 $all-zero + 15;
        background-color: $transparent;
        @extend .u-no-outline;
        @extend .u-no-border;
        @extend .u-cursor-pointer;
    }
}

.icon-more-vert {
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    margin: 0 4px;
    border-radius: 50%;
    background-color: #BEC6CE;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #BEC6CE;
    }

    &:before {
        top: -12px;
    }

    &:after {
        bottom: -12px;
    }
    &--user {
        width: 4px;
        height: 4px;
        &:before,
        &:after {
            content: "";
            display: block;
            width: 4px;
            height: 4px;
        }
        &:after {
            bottom: -9px;
        }
        &:before {
            top: -9px;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.btn-menu-istoogle:focus {
    @extend .u-no-outline;
}

.btn-menu-istoogle:focus + .useraction {
    display: block;
    top: $all-zero + 40;
    @extend .u-no-outline;
}

.useraction {
    padding-left: $all-zero;
    background-color: $white;
    min-width: $all-zero + 200;
    margin-top: $all-zero;
    @include border-radius(3px);
    @extend .u-absolute;
    @extend .u-right-0;
    @extend .u-aligntext--left;
    display: none;
    z-index: 10; //    border: $all-zero + 1 solid $grey-v5;
    box-shadow: 0px 1px 4px rgba(19, 53, 84, 0.04), 0px 8px 13px rgba(0, 52, 101, 0.03), 0px 11px 20px rgba(0, 0, 0, 0.05);
    li {
        box-sizing: border-box;
        padding: $all-zero $all-zero + 15 $all-zero $all-zero;
        line-height: $all-zero + 39;
        border-bottom: $all-zero + 1 solid $grey-v5;
        @extend .u-width-100;
        @extend .u-list-style--none;
        &:first-child {
            border-top: $all-zero + 1 solid $grey-v5;
            border-right: $all-zero + 1 solid $grey-v5;
            border-left: $all-zero + 1 solid $grey-v5;
            @include border-radius(3px 3px 0 0);
        }
        &:first-child:hover {
            border-top: $all-zero + 1 solid $blue-v3;
            border-right: $all-zero + 1 solid $blue-v3;
            border-left: $all-zero + 1 solid $blue-v3;
            border-bottom: $all-zero + 1 solid $blue-v3;
        }
        &:not(:first-child):hover {
            margin-top: -1px;
            border-bottom: $all-zero + 1 solid $blue-v3;
            border-top: $all-zero + 1 solid $blue-v3;
        }
        &:last-child {
            border-bottom: $all-zero + 1 solid $grey-v5;
            border-right: $all-zero + 1 solid $grey-v5;
            border-left: $all-zero + 1 solid $grey-v5;
            border-top: none;
            @include border-radius(0 0 3px 3px);
        }
        &:last-child:hover {
            border-top: $all-zero + 1 solid $blue-v3;
            border-right: $all-zero + 1 solid $blue-v3;
            border-left: $all-zero + 1 solid $blue-v3;
            border-bottom: $all-zero + 1 solid $blue-v3;
        }
        &:not(:first-child) {
            border-right: $all-zero + 1 solid $grey-v5;
            border-left: $all-zero + 1 solid $grey-v5;
        }
        &:not(:last-child) {
            border-right: $all-zero + 1 solid $grey-v5;
            border-left: $all-zero + 1 solid $grey-v5;
        }
        a {
            padding: $all-zero $all-zero + 15;
            font-size: $all-zero + 14;
            color: $grey-v4;
            width: $page-grid-width-100 - 3;
            margin-top: $all-zero;
            white-space: nowrap;
            font-family: 'Source Sans Pro';
            @extend .u-display-in-block;
            @extend .u-text-decoration--none;
            @extend .u-height-100;
        }
    }
}
