.input-wrap {
    position: relative;
    width: 100%; //    height: 45px;
}

.input-wrap.has-alert .alert-text {
    display: block;
}

.input-wrap .input-label {
    position: absolute;
    top: 13px;
    left: 15px;
    font-size: 16px;
    color: #9DAAB5;
    transition: .2s all ease-out;
    pointer-events: none;
    transform-origin: top left;
    z-index: 10;
    cursor: default;

}

.input-wrap .input-box:focus + .input-label {
    padding: 0 5px;
    font-size: 16px;
    transform: translate(-1px, -22px) scale(0.75);
    color: #9DAAB5;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

.input-box:valid + .input-label {
    padding: 0 5px;
    font-size: 16px;
    transform: translate(-1px, -22px) scale(0.75);
    color: #9DAAB5;
    background-color: #fff;    
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

@include b($bem-component + -input-wrap) {
    position: relative;
    width: 100%; //    height: 45px;
    margin-bottom: $all-zero + 15;
    &:last-child{
        margin-bottom: $all-zero;
    }
    &.js-has-alert {
        .js-alert-text {
            display: block;
        }
    }
    @include e(label) {
        position: absolute;
        top: 13px;
        left: 15px;
        font-size: 16px;
        color: #9DAAB5;
        transition: .2s all ease-out;
        pointer-events: none;
        transform-origin: top left;
        z-index: 10;
        cursor: default;
        
    }
    @include e(box) {
        width: 100%;
        height: 45px;
        padding-left: 15px;
        font-size: 16px;
        color: #273A4B;
        border: 1px solid #BEC6CE;
        box-sizing: border-box;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
        border-radius: 3px;
        background-color: #ffffff;
        &:focus {
             + .c-input-wrap__label {
                padding: 0 5px;
                font-size: 16px;
                transform: translate(-1px, -22px) scale(0.75);
                color: #9DAAB5;
                background-color: #fff;
                text-transform: uppercase;
                letter-spacing: 0.12em;
            }
        }
        &:valid {
             + .c-input-wrap__label {
                padding: 0 5px;
                font-size: 16px;
                transform: translate(-1px, -22px) scale(0.75);
                color: #9DAAB5;
                background-color: #fff;    
                text-transform: uppercase;
                letter-spacing: 0.12em;
            }
        }
        &[type = "number"] {
            -moz-appearance:textfield;
            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                 margin: 0;
            }
        }
        @include m(sucess) {
            border: 1px solid #219653;
            background: url(../images/check.svg) no-repeat 98% !important;
            @extend .u-relative;
        }
    }
}