.input-icon {
    position: absolute;
    right: 18px;
    top: 18px;
}
.input-label {
    position: absolute;
    top: 13px; 
    left: 15px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #9DAAB5;
    
element.style {
}
.input-label input:focus+label {
    padding: 0 5px;
    font-size: 16px;
    transform: translate(10px, -52px) scale(0.75);
    color: rgba(110,133,149,0.5);
    background-color: #fff;
    font-family: frutiger;
}
.input-label label {
    font-family: frutiger;
    font-size: 16px;
    color: rgba(110,133,149,0.65);
    font-weight: normal;
    position: absolute;
    transform: translate(14px, -31px);
    z-index: 10;
    transition: .2s all ease-out;
    pointer-events: none;
    transform-origin: top left;
}
.input-label label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #362F2D;
}
user agent stylesheet
label {
    cursor: default;
}
body {
    font-family: frutiger;
    background-image: url(/img/donat-bg-b-mohit.png),url(/img/donate-bg-b.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 483px 942px, cover;
    background-position: 88% 100px, 0 center;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


}
.input-wrap {
    position: relative;
    width: 100%;
    height: 45px;  
}
.input-box {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-decoration: #273A4B;
    padding-left: 15px;
    background: #FFFFFF;
    border: 1px solid #BEC6CE;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    width: 100%;
    height: 45px;
}
