.alert-text {
    display: none;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    margin-top: 0;
    padding: 0 0 0 10px;
    font-size: 14px;
    font-family: 'source sans pro';
    line-height: 30px;
    border-radius: 0 0 3px 3px;
}

.alert-error .alert-text {
    color: #B13535;
    background-color: rgba(177, 53, 53, 0.05);
}

.alert-success .alert-text {
    color: #0F6E37;
}
@include b($bem-javascript + -alert-text) {
    display: none;
    width: 100%;
    box-sizing: border-box;
    margin-top: -2px;
    padding: 8px 6px 8px 10px;
    font-size: 13px;
    font-family: 'source sans pro';
    line-height: 20px;
    border-radius: 0 0 3px 3px;
    @include m(error) {
        color: #B13535 !important;
        background-color: rgba(177, 53, 53, 0.05);
    }
    @include m(success) {
        color: #0F6E37 !important;
        background: rgba(33,150,83, 0.1);
    }
}

// tooltips
.c-tooltip {    
    position: absolute;
    background: #F8F9FB;
    border-radius:4px;
    padding: 8px;
    font-family: arial;
    width: 155px;
    color: #697886;
    line-height: 14px;
    font-size: 14px;    
    border: 1px solid #BEC6CE;
    z-index: 999999;
    &__container {
        position: absolute;
        top:10px;
        right: 10px;
        padding: 3px;
        font-size: 0;
    }
  }
  .c-tooltip:before {
    content : " ";
    width: 18px;
    height: 18px;
    background: #F8F9FB;
    border-left: 1px solid #BEC6CE;
    border-top: 1px solid #BEC6CF;
    transform: rotate(45deg);
    position:absolute;
    top:-10px;
    right:14px;
  }
  
