.c-comments {
    h2 {
        font-size: 31px;
        line-height: 39px;
        color: $grey-v13;
    }
    h5 {
        @extend .u-display-inline;
        font-family: Source Sans Pro;
        @extend .u-normal--font-weight;
        font-size: $all-zero + 20;
        color: $dark-v1;
    }
    .comment-header {
        @extend .u-display-block;
    }
    .comment-time {
        @extend .u-display-inline;
        padding-left: $all-zero + 10;
        font-family: Source Sans Pro;
        line-height: $all-zero + 16;
        font-size: $all-zero + 14;
        color: $grey-v7;
    }
    .comment-paragraph {
        @extend .u-display-block;
        width: $all-zero + 580;
        height: $all-zero + 48;
        font-family: Source Sans Pro;
        line-height: $all-zero + 24;
        font-size: $all-zero + 16;
        color: $grey-v4;
    }
    .comment-tag {
        @extend .u-display-inline;
        margin-left: $all-zero + 220;
        padding: $all-zero + 4 $all-zero + 11;
        font-weight: 600;
        font-size: $all-zero + 11;
        @extend .u-aligntext--center;
        letter-spacing: 0.15em;
        @extend .u-txt-uppercase;
        color: $blue-v5;
        opacity: 0.6;
        background-color: $blue-v4;
        @include border-radius(3px 3px 3px 3px);
    }
}

// comment box
.c {
    &-comments {
        &__box {
            ul {
                @extend .u-margin-left-0;
                @extend .u-padding-left-27;
                @extend .u-display-block;
                @extend .u-relative;
                &:before {
                    @extend .u-content--blank;
                    @extend .u-absolute;
                    @extend .u-display-block;
                    width: $all-zero + 2;
                    background: $grey-v3;
                    @extend .u-height-100;
                    left: $all-zero + 10;
                }
                li {
                    color: $grey-v6;
                    line-height: $all-zero + 24;
                    @extend .u-margin-bottom-20;
                    @extend .u-relative;
                    @extend .u-list-style--none;
                    &:before {
                        @extend .u-content--blank;
                        @extend .u-absolute;
                        @extend .u-display-block;
                        @include border-radius (50%);
                        width: $all-zero + 13;
                        height: $all-zero + 13;
                        border: $all-zero + 3 solid $white;
                        background: $grey-v3;
                        top: $all-zero + 7;
                        left: -22px;
                    }
                }
            }
        }
    }
}
