.c-comments {
    h2 {
        font-size: 31px;
        line-height: 39px;
        color: $grey-v13;
    }
    h5 {
        @extend .u-display-inline;
        font-family: Source Sans Pro;
        @extend .u-normal--font-weight;
        font-size: $all-zero + 20;
        color: $dark-v1;
    }
    .comment-header {
        @extend .u-display-block;
    }
    .comment-time {
        @extend .u-display-inline;
        padding-left: $all-zero + 10;
        font-family: Source Sans Pro;
        line-height: $all-zero + 16;
        font-size: $all-zero + 14;
        color: $grey-v7;
    }
    .comment-paragraph {
        @extend .u-display-block;
        width: $all-zero + 580;
        height: $all-zero + 48;
        font-family: Source Sans Pro;
        line-height: $all-zero + 24;
        font-size: $all-zero + 16;
        color: $grey-v4;
    }
    .comment-tag {
        @extend .u-display-inline;
        margin-left: $all-zero + 220;
        padding: $all-zero + 4 $all-zero + 11;
        font-weight: 600;
        font-size: $all-zero + 11;
        @extend .u-aligntext--center;
        letter-spacing: 0.15em;
        @extend .u-txt-uppercase;
        color: $blue-v5;
        opacity: 0.6;
        background-color: $blue-v4;
        @include border-radius(3px 3px 3px 3px);
    }
}

// comment box
.c {
    &-comments {
        &__box {
            ul {
                @extend .u-margin-left-0;
                @extend .u-padding-left-27;
                @extend .u-display-block;
                @extend .u-relative;
                &:before {
                    @extend .u-content--blank;
                    @extend .u-absolute;
                    @extend .u-display-block;
                    width: $all-zero + 2;
                    background: $grey-v3;
                    @extend .u-height-100;
                    left: $all-zero + 10;
                }
                li {
                    @extend .u-relative;
                    @extend .u-list-style--none;
                    color: $grey-v6;
                    line-height: $all-zero + 24;
                    @extend .u-margin-bottom-20;
                    top: -5px;
                    &.c-comments__list {
                        &--normal {
                            &:before {
                                @extend .u-content--blank;
                                @extend .u-absolute;
                                @extend .u-display-block;
                                @include border-radius (50%);
                                width: $all-zero + 15;
                                height: $all-zero + 15;
                                border: $all-zero + 3 solid $white;
                                background: $grey-v3;
                                top: $all-zero + 5;
                                left: -23px;
                            }
                        }
                        &--complete {
                            top:0;
                            &:before {
                                @extend .u-content--blank;
                                @extend .u-absolute;
                                @extend .u-display-block;
                                @include border-radius (50%);
                                width: $all-zero + 29;
                                height: $all-zero + 29;
                                border: $all-zero + 3 solid $white;
                                background: #DCF1E5;
                                top: $all-zero - 2;
                                left: -30px;
                            }
                            &:after {
                                @extend .u-content--blank;
                                @extend .u-absolute;
                                @extend .u-display-block;
                                width: $all-zero + 15;
                                height: $all-zero + 10;
                                top: $all-zero + 8;
                                left: -21px;
                                background: url('../images/greentick.svg') no-repeat 0 0 transparent;
                            }
                        }
                    }
                }
            }
        }
        &__date {
            padding-left: $all-zero + 7;
            margin: $all-zero + 7 $all-zero;
            color: $grey-v7;
            font-size: $all-zero + 14;
            line-height: $all-zero + 16;
        }
        &__list {
            &--block {
                @extend .o-shadowbox;
                @extend .u-padding-top-9;
                @extend .u-padding-left-0;
                @extend .u-padding-right-0;
                @extend .u-padding-bottom-5;
                @extend .u-relative;
                margin-left: -47px;
                z-index: 2;
                &::before {
                    content: "";
                    position: absolute;
                    width:calc(100% + 6px);
                    height: calc(100% + 6px);
                    top: -3px;
                    left: -3px;
                    z-index: 0; 
                    border: $white 2px solid;
                    border-bottom: #F6F6F6 2px solid;
                    @include border-radius(3px);
                }
                h2 {
                    color: $dark-v1;
                    font-size: $all-zero + 20;
                    line-height: $all-zero + 25;
                    border-bottom: 1px dotted $grey-v3;
                    padding: $all-zero $all-zero $all-zero + 8 $all-zero + 17;
                    position: relative;
                    z-index: 1;
                }
                p {
                    padding: $all-zero $all-zero $all-zero $all-zero + 17;
                    position: relative;
                    z-index: 1;
                    margin: $all-zero + 12 $all-zero $all-zero + 12 $all-zero;
                }
            }
        }
    }
    &-addcomment {
        h2 {
            @extend .u-display-block;
            @extend .u-aligntext--center;
            color: $dark-v1;
            font-size: $all-zero + 25;
            line-height: $all-zero + 31;
            padding-bottom: $all-zero + 20;
            padding-top: $all-zero + 30;
        }
        &__block {
            width: $all-zero + 580;
            @extend .u-block-elm-center;
            textarea {
                @extend .u-width-100;
                @include border-radius (3px 3px 3px 3px);
                padding: $all-zero + 16;
                color: $grey-v15;
                height: $all-zero + 170;
                resize: none;
                @extend .u-display-block;
                font-size: $all-zero + 16;
                line-height: $all-zero + 19;
                margin-bottom: $all-zero + 20;
                border: $all-zero + 1 solid $grey-v1;
                font-family: 'Source Sans Pro';
                &::-webkit-input-placeholder{
                    color: $grey-v7;
                }
                &:focus {
                    @extend .u-no-outline;
                }
            }
        }
    }
}

.alert-text {
    line-height: $all-zero + 20px $important;
    font-size: $all-zero + 13px $important;
    height: $all-zero + 20px $important;
}
