a.button-outlined {
    padding: 11px 23px 11px 23px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    color: #059CAF;
    border: 2px solid #059CAF;
    box-sizing: border-box;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    text-decoration: none;
    background: $white;
    transition: all .15s ease-in-out;
    -webkit-font-smoothing: antialiased;
    &--small {
        padding: 8px 15px;
    }
    &:hover {
        transform: translateY(-1px);
    }

    &:active {
        transform: translateY(1px);
    }
    &--default {
        color: #FFFFFF;
        border: none;
        padding: 13px 23px 13px 23px;
        background: linear-gradient(102.52deg, rgba(17, 0, 209, 0.3) -18.15%, rgba(255, 255, 255, 0.3) 111.87%), #059CAF;
        background-blend-mode: overlay, normal;
        box-shadow: 0px 3px 7px rgba(5, 136, 152, 0.2), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        &--small {
            padding: 10px 20px;
        }
        &:hover {
            transform: translateY(-1px);
            box-shadow: 0px 4px 10px rgba(5, 136, 152, 0.2), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        }

        &:active {
            transform: translateY(1px);
            box-shadow: 0px 2px 3px rgba(5, 136, 152, 0.3), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        }
    }
}

@include b($bem-component + -btn-outline){
    font-weight: 600;
    font-size: $all-zero + 16;
    padding: $all-zero + 10 $all-zero + 15;
    font-style: normal;
    text-align: center;
    color: #059CAF;
    border: 2px solid #059CAF;
    box-sizing: border-box;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    text-decoration: none;
    @extend .u-display-in-block;
    background: $white;
    transition: all .15s ease-in-out;
    -webkit-font-smoothing: antialiased;
    line-height: $all-zero + 20;
    min-width: 85px;
    &:hover {
        transform: translateY(-1px);
    }
    &:active {
        transform: translateY(1px);
    }
    
    @include m(orange) {
        color: $orange-v1;
        border: $orange-v1 solid 2px;
    }
    @include m(grey) {
        color: $grey-v4;
        border: $grey-v6 solid 2px;
    }
    @include m(red) {
        min-width: 111px;
        border: 2px solid #B13535;
        color: #B13535;
        padding: 0px 15px 0px 15px;
        line-height: 30px !important;
    }
    @include m(transparent){
        background: transparent;
    }
    @include m(small) {
        padding: $all-zero + 6 $all-zero + 15;
    }
}