.settings-container {
  position: relative;
}

.gear-icon {
  position: absolute;
  top: 7px;
  left: 9px; 
  pointer-events: none;
}

.settings-button {
  width: 52px;
  height: 33px;
  position: relative;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgba(190, 198, 206, 0.3);
  background-image: url(../images/dropdown-arrow.svg);
  background-repeat: no-repeat;
  background-position: top 15px left 34px;
}
.settings-button:focus {
  outline: none;
  
  & + .dropdown-content {
    display: block;
  }
}

.dropdown-content a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Source Sans Pro';
  // line-height: 20px;
  font-size: 14px;
  color: #717A83;
  width: 93%;
  height: 100%;
  white-space: nowrap;
  padding: 0px 15px

}
.dropdown-search-bar {
  box-sizing: border-box
}
.dropdown-content {
  position: relative;
  display: none;  
  min-width: 200px;
  list-style-type: none;
  border-radius: 3px;
  box-shadow: 0px 1px 4px rgba(19, 53, 84, 0.04),
              0px 8px 13px rgba(0, 52, 101, 0.03),
              0px 11px 20px rgba(0, 0, 0, 0.05);
  padding-left: 0;
  background-color: #fff;
  &:hover {
    display: block;

  }

    li {
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
    width: 100%;
    line-height: 39px;
    border-bottom: 1px solid #E4E9ED;
    
    &:first-child {
      border-top: 1px solid #E4E9ED;
      border-right: 1px solid #E4E9ED;
      border-left: 1px solid #E4E9ED;
      border-radius: 3px 3px 0 0;
    }
    
    &:last-child {
      border-bottom: 1px solid #E4E9ED;
      border-right: 1px solid #E4E9ED;
      border-left: 1px solid #E4E9ED;
      border-top: none; 
      border-radius: 0 0 3px 3px;
    }
    
    &:not(:first-child),
    &:not(:last-child) {
      border-right: 1px solid #E4E9ED;
      border-left: 1px solid #E4E9ED;
    }
    
    &:not(:first-child):hover {
      height: 41px;
      margin-top: -1px;
      border-bottom: 1px solid #BAD0E5;   
      border-top: 1px solid #BAD0E5;
    }
    
    &:first-child:hover {
      border-top: 1px solid #BAD0E5;
      border-right: 1px solid #BAD0E5;
      border-left: 1px solid #BAD0E5;
      border-bottom: 1px solid #BAD0E5;
      
      .level-2-dropdown {
        display: block;
      }
    }
    
    &:last-child:hover {
      border-top: 1px solid #BAD0E5;
      border-right: 1px solid #BAD0E5;
      border-left: 1px solid #BAD0E5;
      border-bottom: 1px solid #BAD0E5;
    }
    
    &:hover {
      background-color: #EDF8FE;
    }
  }
}

.level-1-dropdown {
  top: -18px;
  left: 0px;
  z-index: 0;
  & > li {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #E4E9ED;
    
    &:first-child {
      border-top: 1px solid #E4E9ED;
      border-right: 1px solid #E4E9ED;
      border-left: 1px solid #E4E9ED;
      border-radius: 3px 3px 0 0 ;
      background-color: #fff;
    }

    &:first-child:hover {
      border-top: 1px solid #E4E9ED;
      border-right: 1px solid #E4E9ED;
      border-left: 1px solid #E4E9ED;
      border-bottom: 1px solid #E4E9ED;
      border-radius: 3px 3px 0 0 ;
      background-color: #fff;      
    }    
  }
}

.level-1-dropdown-link {
  cursor: pointer;
}

.level-2-large-dropdown-link {
  cursor: pointer;
}

.level-1-large-dropdown-link {
  cursor: pointer;
}
.level-2-dropdown {
  position: absolute;
  top: 0%;
  right: 100%;
  margin-right: -1px;
  z-index: 100;

  li {
    border-bottom: 1px solid #E4E9ED;
    
    &:first-child {
      border-top: 1px solid #E4E9ED;
      border-right: 1px solid #E4E9ED;
      border-left: 1px solid #E4E9ED;
      border-radius: 3px 3px 0 0 ;
      background-color: #fff;
      box-sizing: border-box;
      padding: 13px 16px 8px 16px;
    }

    &:first-child:hover {
      border-top: 1px solid #E4E9ED;
      border-right: 1px solid #E4E9ED;
      border-left: 1px solid #E4E9ED;
      border-bottom: 1px solid #E4E9ED;
      border-radius: 3px 3px 0 0 ;
      background-color: #fff;      
    }    
  }
}


.settings-container:focus .dropdown-content {
  display: block;
}

.input-wrap {
  position: relative;
  width: 100%;
  height: 45px; 
}
.input-wrap2   {
    position: relative;
    width: 100%;
    height: 45px; 
    top:-22px;
}

.input-label {
  left: 12px;
  top: 1px;
  font-size: 14px;
  position: absolute;
  font-family: 'Source Sans Pro';
  color: #9DAAB5;
  transition: .2s all ease-out;
  pointer-events: none; 
  transform-origin: top left;
  z-index:10;
  cursor: default;
}

.input-wrap .input-box:focus + .input-label {
  top: -4px;
  left: 20px;
  padding: 0 5px;
  font-size: 14px;
  transform: translate(-10px, 2px) scale(0.75);
  color: #9DAAB5;
  background-color: #fff;
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;

}

.input-box:valid + .input-label {
  top: -2px;
  left: 20px;
  padding: 0 5px;
  font-size: 14px;
  transform: translate(-10px, 2px) scale(0.75);
  color: #9DAAB5;
  background-color: #fff;
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.input-box {
  width: 100%;
  height: 32px;
  padding-left: 12px;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  color: #273A4B;
  border: 1px solid #BEC6CE;
  box-sizing: border-box; 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
  border-radius: 3px; 
  background-color: #ffffff;

  &:focus {
    outline:none;
  }
}

.input-icon {
  position: absolute;
  right: 14px;
  top: 14px;
}
.create-codes-dropdown {
  min-width: 288px;
  height: 179px;
  background-color: #fff;
  border-radius: 3px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  color: #273A4B;
  display: none;
  position: absolute;
  top: 32%;
  margin-top: 1px;
  right: 100%;
  margin-right: -1px;
  box-shadow: 0px 1px 4px rgba(19, 53, 84, 0.04),
              0px 8px 13px rgba(0, 52, 101, 0.03),
              0px 11px 20px rgba(0, 0, 0, 0.05);
  // width: 288px;
  background: #FFFFFF;
  border: 1px solid #D5DCE3;
  box-sizing: border-box;

}
.create-codes-hover:hover {
  .create-codes-dropdown{
    display: block;
  }
}
.create-codes-input {
  left: 30px;
  top: -5px;
  font-size: 14px;
  position: absolute;
  font-family: 'Source Sans Pro';
  color: #9DAAB5;
  transition: .2s all ease-out;
  pointer-events: none; 
  transform-origin: top left;
  z-index:10;
  cursor: default;
}
.input-wrap .input-box:focus + .create-codes-input {
  padding: 0 5px;
  font-size: 14px;
  transform: translate(2px, -13px) scale(0.75);
  color: #9DAAB5;
  background-color: #fff;
  line-height: 13px;
}
.input-box:valid + .create-codes-input {
  padding: 0 5px;
  font-size: 14px;
  transform: translate(2px, -13px) scale(0.75);
  color: #9DAAB5;
  background-color: #fff;
  line-height: 13px;
}
h5 {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  color: #273A4B;
  top: -15px;
  position: relative;
}
.create-codes-box {
  width: 248px;
  height: 33px;
  position: absolute;
  top: -12px;
  left: 19px;
  font-size: 14px;

}
a.button {
  position: absolute;
  top: 42px;
  left: 63px;
  height: 13px;
  width: 125px;
  padding: 9px 18px 17px 17px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 3px;
  background: linear-gradient(102.52deg, rgba(17, 0, 209, 0.3) -18.15%, rgba(255, 255, 255, 0.3) 111.87%), #059CAF;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 3px 7px rgba(5, 136, 152, 0.2), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}