.c {
    &-usertable {
        @extend .u-width-100;
        &__row {
            font-size: $all-zero;
            background: $green-v1;
            border-radius: $all-zero + 3;
            padding: $all-zero + 8 $all-zero + 12;
            color: $grey-v8;
            @extend .u-txt-uppercase;
        }
        &__rowbody {
            font-size: $all-zero;
            color: $grey-v8;
            padding: $all-zero + 13 $all-zero;
            border-bottom: $all-zero + 1 solid $grey-v5;
            &--noborder {
                border-bottom: none;
            }
            &:last-child {
                @extend .u-no-border;
            }
        }
        &__block {
            @extend .u-display-in-block;
            word-wrap: break-word;
            vertical-align: top;

            &--name {
                font-size: $all-zero + 13;
                width: 20%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--namefield {
                font-size: $all-zero + 16;
                width: 20%;
                color: $blue-v1;
                padding-left: $all-zero + 10;
                a {
                    @extend .u-text-decoration--none;
                    color: $blue-v1;
                }
            }
            &--capability {
                font-size: $all-zero + 13;
                width: 40%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--capabilityfield {
                font-size: $all-zero + 16;
                width: 40%;
                color: $grey-v4;
                font-weight: 600;
            }
            &--read {
                font-size: $all-zero + 13;
                width: 15%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--readfield {
                font-size: $all-zero + 13;
                width: 15%;
            }
            &--create {
                font-size: $all-zero + 13;
                width: 15%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--createfield {
                width: 15%;
            }
            &--edit {
                font-size: $all-zero + 13;
                width: 15%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--editfield {
                width: 15%;
            }
            &--delete {
                font-size: $all-zero + 13;
                width: 15%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--deletefield {
                width: 15%;
            }
            &--access {
                font-size: $all-zero + 13;
                width: 10%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--accessfield {
                width: 10%;
                padding-left: $all-zero + 10;
                padding-top: $all-zero + 7;
            }
            &--client-enable {
                font-size: $all-zero + 13;
                width: 20%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--client-enablefield {
                width: 20%;
                padding-left: $all-zero + 10;
                padding-top: $all-zero + 7;
            }
            &--client-description {
                font-size: $all-zero + 13;
                width: 15%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--client-descriptionfield {
                width: 15%;
                padding-left: $all-zero + 10;
                font-size: $all-zero + 16;
                line-height: $all-zero + 33;
                text-align: right;
                a {
                    margin-right: 33px;
                }
            }
            &--namev1 {
                font-size: $all-zero + 13;
                width: 85%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--namev1field {
                width: 40%;
                padding-left: $all-zero + 10;
                font-size: $all-zero + 16;
                line-height: $all-zero + 33;
                a {
                    @extend .u-text-decoration--none;
                    color: $blue-v1;
                }
            }
            &--namev2 {
                font-size: $all-zero + 13;
                width: 65%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--namev2field {
                width: 65%;
                padding-left: $all-zero + 10;
                font-size: $all-zero + 16;
                line-height: $all-zero + 33;
                a {
                    @extend .u-text-decoration--none;
                    color: $blue-v1;
                }
            }
            &--email {
                font-size: $all-zero + 13;
                width: 35%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--emailfield {
                font-size: $all-zero + 16;
                width: 35%;

                a {
                    color: $grey-v4;
                    @extend .u-text-decoration--none;
                }
            }
            &--valuefield {
                width: 50%;
            }
            &--org {
                font-size: $all-zero + 13;
                width: 15%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--orgfield {
                @extend .u-txt-uppercase;
                font-size: $all-zero + 16;
                width: 15%;
                color: $grey-v4;
            }
            &--role {
                font-size: $all-zero + 13;
                width: 20%;
                font-weight: 600;
                letter-spacing: $all-zero + 2;
            }
            &--rolefield {
                font-size: $all-zero + 16;
                width: 20%;
                color: $grey-v4;
            }
            &--enable {
                font-size: $all-zero + 13;
                width: 10%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--enablefield {
                font-size: $all-zero + 16;
                width: 10%;
                color: $grey-v4;
                @extend .u-relative;
            }
            &--clientid {
                font-size: $all-zero + 13;
                width: 20%;
                font-weight: 600;
                letter-spacing: 0.06em;
                a {
                    color: $grey-v8;
                    @extend .u-text-decoration--none;
                    padding-right: $all-zero + 15;
                    background: url(../images/filter-arrow.png) no-repeat center right transparent;
                }
            }
            &--clientidfield {
                font-size: $all-zero + 16;
                width: 20%;
                color: $grey-v4;
                padding: $all-zero;
                font-family: 'Source Sans Pro', sans-serif;
                @extend .u-normal--font-weight;
            }
            &--clientname {
                font-size: $all-zero + 13;
                width: 50%;
                font-weight: 600;
                letter-spacing: 0.06em;
                color: $dark-v1;
                a {
                    color: $dark-v1;
                    @extend .u-text-decoration--none;
                    padding-right: $all-zero + 15;
                    background: url(../images/filter-arrow-black.png) no-repeat center right transparent;
                }
            }
            &--clientnamefield {
                font-size: $all-zero + 16;
                width: 50%;
                a {
                    color: $blue-v1;
                    @extend .u-text-decoration--none;
                }
            }
            &--abbreviation {
                font-size: 13px;
                width: 20%;
                font-weight: 600;
                letter-spacing: 0.06em;
                a {
                    color: $grey-v8;
                    @extend .u-text-decoration--none;
                    padding-right: $all-zero + 15;
                    background: url(../images/filter-arrow.png) no-repeat center right transparent;
                }
            }
            &--abbreviationfield {
                width: 20%;
                font-size: $all-zero + 16;
                color: $grey-v4;
            }
            &--moreoption {
                font-size: 13px;
                width: 10%;
                font-weight: 600;
                letter-spacing: 1px;
            }
            &--moreoptionfield {
                width: 10%;
            }
            
        }
    }
}
