.c {
    &-usertable {
        @extend .u-width-100;
        &__row {
            font-size: $all-zero;
            background: $green-v1;
            border-radius: $all-zero + 3;
            padding: $all-zero + 8 $all-zero + 12;
            color: $grey-v8;
            @extend .u-txt-uppercase;
        }
        &__rowbody {
            font-size: $all-zero;
            color: $grey-v8;
            padding: $all-zero + 13 $all-zero;
            border-bottom: $all-zero + 1 solid $grey-v5;
            &--noborder {
                border-bottom: none;
            }
        }
        &__block {
            @extend .u-display-in-block;
            word-wrap: break-word;
            vertical-align: top;
            &--name {
                font-size: $all-zero + 13;
                width: 20%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--namefield {
                font-size: $all-zero + 16;
                width: 20%;
                color: $blue-v1;
                padding-left: $all-zero + 10;
                a {
                    @extend .u-text-decoration--none;
                    color: $blue-v1;
                }
            }
            &--email {
                font-size: $all-zero + 13;
                width: 35%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--emailfield {
                font-size: $all-zero + 16;
                width: 35%;

                a {
                    color: $grey-v4;
                    @extend .u-text-decoration--none;
                }
            }
            &--org {
                font-size: $all-zero + 13;
                width: 15%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--orgfield {
                @extend .u-txt-uppercase;
                font-size: $all-zero + 16;
                width: 15%;
                color: $grey-v4;
            }
            &--role {
                font-size: $all-zero + 13;
                width: 20%;
                font-weight: 600;
                letter-spacing: $all-zero + 2;
            }
            &--rolefield {
                font-size: $all-zero + 16;
                width: 20%;
                color: $grey-v4;
            }
            &--enable {
                font-size: $all-zero + 13;
                width: 10%;
                font-weight: 600;
                letter-spacing: $all-zero + 1;
            }
            &--enablefield {
                font-size: $all-zero + 16;
                width: 10%;
                color: $grey-v4;
                @extend .u-relative;
            }
        }
    }
}
