// colorscheme partial
$white: #FFFFFF;

$dark-v1: #273A4B;

$grey-v1: #BEC6CE;

$grey-v2: rgba(240, 242, 242, 0.5);

$grey-v3: #D5DCE3;
$grey-v4:#717A83;
$grey-v5:#E4E9ED;
$grey-v6:#7F8E9E;
$grey-v7:#9DAAB5;

$blue-v1: #059CAF;
$blue-v2: #224769;

$green-v1:#F4F8F8
