// colorscheme partial
$transparent: transparent;
$white: #FFFFFF;

$black: #000000;

$dark-v1: #273A4B;

$grey-v1: #BEC6CE;

$grey-v2: rgba(240, 242, 242, 0.5);

$grey-v3: #D5DCE3;
$grey-v4:#717A83;
$grey-v5:#E4E9ED;
$grey-v6:#7F8E9E;
$grey-v7:#9DAAB5;
$grey-v8:#758EA6;
$grey-v9:#D4D7DA;
$grey-v10:#F4F6F7;
$grey-v11:#697886;

$blue-v1: #059CAF;
$blue-v2: #224769;
$blue-v3:#BAD0E5;
$blue-v4:#EDF8FE;
$blue-v5:#2080B7;

$green-v1:#F4F8F8;
$green-v2:#219653;
$green-v3:#008a3a;
$green-v4:#0F6E37;
$green-v5:#009840;

$red-v1:#B13535;
$red-v2:#B34646;
$red-v3:#AC2828;
