.c {
    &-usersearch {
        width: $all-zero + 265;
        border-left: $all-zero + 1 dotted $grey-v4;
        @extend .u-display-in-block;
        @extend .u-txt-valign-top;
    }
    &-client {
        @extend .c-usersearch;
        width: $all-zero + 280;
        border: none;
    }
    &-organisation {
        @extend .c-client;
        width: $all-zero + 105;
    }
}

.o {
    &-user {
        padding: $all-zero + 35;
        background: rgba(240, 242, 243, 0.5);
    }
    &-rightPan {
        @extend .u-bg-color-fff;
        @include border-radius(3px);
        padding: $all-zero + 30;
        border: $all-zero + 1 solid $grey-v3;
        &__link {
            color: $blue-v1;
            @extend .u-text-decoration--none;
        }
    }
}
