// colorscheme partial
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900');

// ProximaNova Font 'ProximaNova-Semibold'
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Semibold.otf') format('opentype'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: $all-zero + 49;
    @extend .u-normal--font-weight;
}

.h1 {
    font-size: $all-zero + 49;
    @extend .u-normal--font-weight;
    &--user {
        font-size: $all-zero + 31;
        color: $dark-v1;
        margin: $all-zero;
    }
}

p {
    @extend .u-normal--font-weight;
    @extend .u-normal--font-style;
    line-height: 24px;
    font-size: 16px;
}
