// utility all partial
// dimension
.u-width-100 {
    max-width: $page-grid-width-100;
    width: $page-grid-width-100;
}

.u-height-100 {
    height: $page-grid-height-100;
}

.u-height-100vh {
    height: $page-grid-height-100vh;
}

.u-height-auto {
    height: auto;
}

// alignment
.u-valign-middle {
    display: table;
    width: $page-grid-width-100;
    .u-valign-middle-inner {
        display: table-cell;
        vertical-align: middle;
    }
}

.u-pointer-event {
    &-none {
        pointer-events: none;
    }
    &-auto {
        pointer-events: auto;
    }
}

// block element alignment
.u-block-elm-center {
    margin: $all-zero auto;
}


// display
.u-display-block {
    display: block;
}

.u-display-flex {
    display: flex;
}

.u-display-none {
    display: none;
}

.u-box-module {
    &--borderbox {
        box-sizing: border-box;
    }
}

.u-display-in-block {
    display: inline-block !important;
}

.u-display-inline {
    display: inline;
}

.u-pull-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.u-display-flex {
    display: flex;
}

.u-cursor-pointer {
    cursor: pointer;
}

//floats
.u-pull {
    &--right {
        float: right;
    }
    &--left {
        float: left;
    }
}

//width
.u-width {
    width: $all-zero;
    &--172 {
        width: $all-zero + 172;
    }
    &--192 {
        width: $all-zero + 192;
    }
    &--309 {
        width: $all-zero + 309;
    }
}

//color
.u-color {
    &--blue-v1 {
        color: $blue-v1;
    }
}

// valign
.u-txt-valign-middle {
    vertical-align: middle;
}

.u-txt-valign-top {
    vertical-align: top;
}

.u-txt-valign-bottom {
    vertical-align: bottom;
}

.u-align-item {
    &--center {
        align-items: center;
    }
}

// justufy content
.u-justify {
    &--center {
        justify-content: center;
    }
}

//clear
.clearfix::after,
.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

// background image styles
.u-bx-shadow {
    &--loginBx {
        box-shadow: 0px 1px 4px rgba(19, 53, 84, 0.04), 0px 8px 13px rgba(0, 52, 101, 0.03);
    }
}

// cover / contain
.u-bg-cover {
    background-size: cover;
}

.u-bg-contain {
    background-size: contain;
}

// positions
.u-bg-pos-center-middle {
    background-position: $page-grid-width-100 / 2 $page-grid-width-100 / 2;
}

.u-bg-pos-bottom-right {
    background-position: $page-grid-width-100 $page-grid-width-100;
}

// repeatation
.u-bg-norepeat {
    background-repeat: no-repeat;
}

.u-bg-repeat-x {
    background-repeat: repeat-x;
}

.u-bg-repeat-y {
    background-repeat: repeat-y;
}

.u-bg-repeat-xy {
    background-repeat: repeat;
}

// fixed
.u-bg-fixed {
    background-attachment: fixed;
}

// background color
.u-bg-color-fff {
    background-color: $white;
}

.u-container-bg {
    background: rgba(240, 242, 243, 0.5);
}

// img object styles
// object fit cover / contain
.u-objfit-cover {
    object-fit: cover !important;
}

.u-objfit-contain {
    object-fit: contain;
}

// object positions
.u-obj-pos-center-middle {
    object-position: $page-grid-width-100 / 2 $page-grid-width-100 / 2;
}


// transform / translate
// position
.u-absolute {
    position: absolute;
    &.u-top-0 {
        top: $all-zero;
    }
    &.u-bot-0 {
        bottom: $all-zero;
    }
    &.u-left-0 {
        left: $all-zero;
    }
    &.u-left-50 {
        left: $page-grid-width-100 / 2;
    }
    &.u-right-0 {
        right: $all-zero;
    }
    &.u-all-0 {
        @extend .u-bot-0;
        @extend .u-left-0;
        @extend .u-right-0;
        @extend .u-top-0;
    }
}

.u-position-right-0 {
    left: auto;
    right: $all-zero;
}

.u-relative {
    position: relative;
}

.u-fixed {
    @extend .u-absolute;
    position: fixed;
}

.u-static {
    position: static !important;
}


// overflow
.u-oflowhidden {
    overflow: hidden;
}

.u-whitespace {
    &-nowrap {
        white-space: nowrap;
    }
}

// border radius
.u-no-border {
    border: none !important;
}

.u-no-outline {
    outline: none !important;
}

// box shadow
// text-transform
.u-txt-uppercase {
    text-transform: uppercase;
}

.u-text-transform-none {
    text-transform: none;
}

//
.u-list-style {
    &--none {
        list-style: none;
    }
}

//text-align
.u-aligntext {
    &--center {
        text-align: center;
    }
    &--right {
        text-align: right;
    }
    &--left {
        text-align: left;
    }
}

// text decoration
.u-text-decoration {
    &--none {
        text-decoration: none;
    }
    &--underline {
        text-decoration: underline;
    }
}

// transparent
.u-transparent {
    background-color: transparent;
}

.u-normal {
    &--font-weight {
        font-weight: normal;
    }
    &--line-height {
        line-height: normal !important;
    }
    &--font-style {
        font-style: normal;
    }
}

.u-font-style {
    &--italic {
        font-style: italic;
    }
}

.u-font-0 {
    font-size: 0;
}

.u-hr {
    &--v1 {
        @extend .u-no-border;
        margin-top: $all-zero + 30;
        height: $all-zero + 1;
        @extend .u-oflowhidden;
        background-color: $grey-v5;
    }
}

.u-border {
    &--dashedtop {
        border-top: 1px dashed $grey-v5;
    }
    &--dashedbottom {
        border-bottom: 1px dashed $grey-v5 !important;
    }
}
