// var partial
// all 0
$all-zero: 0px;


// dimension
$page-grid-height-100vh: 100vh !default;
$page-grid-height-100: 100% !default;
$page-grid-width-100: $page-grid-height-100;

$border-width: $all-zero + 1;


// font family
//$roboto-font-family: 'Roboto', sans-serif;
// font size
$body-font-size: $all-zero + 13;
$body-line-height: $all-zero + 18;
