.grid-view-item {
    display: block;
    width: 353px;
    height: 300px;
    border: 1px solid #D5DCE3;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(19, 53, 84, 0.04), 0px 8px 13px rgba(0, 52, 101, 0.03);
    background-color: #fff;
    border-radius: 3px;
    font-family: 'source sans pro';
    text-decoration: none;
    transition: all .125s ease-in-out;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0px 2px 40px 2px rgba(23, 70, 80, 0.05), 0px 11px 30px rgba(0, 52, 80, 0.04);

        .grid-view-item__hover-container {
            opacity: 1;
        }
    }

    &:active {
        transform: translateY(0px);
        box-shadow: 0px 0px 4px rgba(19, 53, 84, 0.04), 0px 5px 13px rgba(0, 52, 101, 0.03);
    }
}

.grid-view-item__hover-container {
    opacity: 0;
    transition: all .1s ease-in-out;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    background-image: linear-gradient(0deg, rgba(39, 58, 75, 0.75), rgba(39, 58, 75, 0.75));
    border-radius: 3px 3px 0 0;
}

.grid-view-item__btn-menu {
    position: absolute;
    top: 11px;
    left: 30px;
}

.btn-share {
    position: absolute;
    top: 18px;
    right: 23px;
}

.icon-share {
    filter: drop-shadow( 0px 1px 1px rgba(0, 0, 0, .4));
}

.icon-more-horz {
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    margin: 0 4px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .5);

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .5);
    }

    &:before {
        left: -12px;
    }

    &:after {
        right: -12px;
    }
}

.grid-view-item__preview {
    display: block;
    height: 50%;
    position: relative;
    background-color: #F4F6F7;    
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom 0px;
    box-shadow: 0 1px 0 #D5DCE3;
    text-align: center;

    .grid-view-item--request & {
        background-image: url(../images/faux-docs.png);
    }

    .grid-view-item--project & {
        background-image: url(../images/grid-view-item-project.svg);
        background-size: 293px;
        background-position: center bottom;
    }
}

.cta-primary {
    position: relative;
    top: 70px;
    padding: 12px 15px 12px 15px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    border: 2px solid #fff;
    color: #fff;
    box-sizing: border-box;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05), 0 1px 6px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    border-radius: 3px;
}

.grid-view-item__primary-content {
    display: flex;
    flex-direction: column;
    align-item: center;
    justify-content: center;
    height: 105px;
}

.grid-view-item__title {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #273A4B;
    margin: 0;
}

.grid-view-item__subtitle {
    font-family: Proxima Nova;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #9DAAB5;
    text-transform: uppercase;
    margin: 0;
}

.grid-view-item__secondary-content {
    display: flex;
    justify-content: space-between;
    height: 45px;
    padding: 0 15px;
    border-top: 1px dotted rgba(190, 198, 206, 0.5);
}

.grid-view-item__secondary-info {
    font-family: Source Sans Pro;
    font-size: 14px;
    line-height: 45px;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    color: #9DAAB5;
}

.tag {
    display: inline;
}

// &--modifier {
//     a {
//         width: 353px;
//         margin: 0 auto;
//     }
// }