.o-services {
    &--bgimage {
        background: url(../images/login-bg.png) no-repeat center transparent;
        background-size: cover;
    }
    &--padding {
        padding-top: $all-zero + 30;
        padding-bottom: $all-zero + 200;
    }
}

.c {
    &-service {
        &-tile {
            background-color: $white;
            border: $all-zero + 1 solid $grey-v3;
            padding-top: $all-zero + 35;
            padding-bottom: $all-zero + 60;
            @extend .u-height-100;
            @extend .u-relative;
            transition: all .125s ease-in-out;
            -moz-transition: all .125s ease-in-out;
            -webkit-transition: all .125s ease-in-out;
            box-shadow: 0px 1px 4px rgba(19, 53, 84, 0.04), 0px 8px 13px rgba(0, 52, 101, 0.03);
            h2 {
                font-weight: 300;
                font-size: $all-zero + 25;
                color: $dark-v1;
                margin: $all-zero;
                padding: $all-zero;
                @extend .u-aligntext--center;
                @extend .u-normal--font-weight;
            }
            p {
                color: $grey-v4;
                font-size: $all-zero + 16;
                line-height: $all-zero + 24;
                padding: $all-zero $all-zero + 21;
                margin: $all-zero + 16 $all-zero;
                @extend .u-font-style--italic;
            }
            &:hover {
                transform: translateY(-2px);
                cursor: pointer;
                box-shadow: 0px 2px 40px 2px rgba(23, 70, 80, 0.05), 0px 11px 30px rgba(0, 52, 80, 0.04);
            }
        }
        &__report {
            border-top: 1px dotted $grey-v1;
            font-size: $all-zero + 16;
            height: $all-zero + 47;
            line-height: $all-zero + 47;
            color: $blue-v1;
            @extend .u-text-decoration--none;
            @extend .u-absolute;
            @extend .u-bot-0;
            @extend .u-display-block;
            @extend .u-width-100;
            @extend .u-aligntext--center;
            i {
                background: url(../images/arrow-right.png) no-repeat center transparent;
                width: $all-zero + 6;
                height: $all-zero + 10;
                margin: $all-zero $all-zero $all-zero $all-zero + 10;
                @extend .u-display-in-block;
                transition: all 0.5s ease-in-out;
                -webkit-transition: all 0.2s ease-in-out;
                @extend .u-relative;
                left: $all-zero;
            }
            &:hover {
                i {
                    position: relative;
                    left: $all-zero + 3;
                }
            }
        }
    }
}
