.c-checkbox {
    .input-wrap {
        @extend .u-display-flex;
        @extend .u-height-auto;
        flex-direction: row;
    }

    .input-wrap .input-label {
        @extend .u-display-block;
        margin-bottom: $all-zero + 5;
        font-size: $all-zero + 16;
        color: $dark-v1;
        letter-spacing: normal;
        font-family: 'Source Sans Pro';
        @extend .u-pointer-event-auto;
        @extend .u-text-transform-none;
        @extend .u-static;
    }

    .check-box {
        margin-right: $all-zero + 12;
    }

    .description-container {
        width: $all-zero + 363;
        height: $all-zero + 58;
        bottom: $all-zero + 1;
        @extend .u-relative;
    }

    .check-box-description {
        font-family: 'Source Sans Pro';
        margin-top: $all-zero;
        line-height: $all-zero + 20;
        font-size: $all-zero + 14;
        color: $grey-v4;
    }
}

.c-checkbox {
    .c-input-wrap {
        @extend .u-display-flex;
        @extend .u-height-auto;
        flex-direction: row;
    }

    .c-input-wrap .c-input-wrap__label {
        @extend .u-display-block;
        margin-bottom: $all-zero + 5;
        font-size: $all-zero + 16;
        color: $dark-v1;
        letter-spacing: normal;
        font-family: 'Source Sans Pro';
        @extend .u-pointer-event-auto;
        @extend .u-text-transform-none;
        @extend .u-static;
    }

    .c-check-box {
        margin-right: $all-zero + 12;
    }

    .description-container {
        width: $all-zero + 363;
        height: $all-zero + 58;
        bottom: $all-zero + 1;
        @extend .u-relative;
    }

    .check-box-description {
        font-family: 'Source Sans Pro';
        margin-top: $all-zero;
        line-height: $all-zero + 20;
        font-size: $all-zero + 14;
        color: $grey-v4;
    }
}