.filter {
    @extend .u-no-border;
    background-color: $transparent;
    font-size: $all-zero + 16;
    color: $grey-v11;
    -webkit-appearance: none;
    background-image: url(../images/dropdown-arrow.svg);
    @extend .u-background-norepeat;
    background-position: right 8px center;
    cursor: pointer;
    padding-right: $all-zero + 24;
}
