.c {
    &-input {
        &__wrap {
            @extend .u-padding-right-33;
            @extend .u-relative;
            input[type='text'] {
                @extend .u-no-border;
                @extend .u-no-outline;
                @extend .u-width-100;
                @extend .u-padding-bottom-5;
                font-size: $all-zero + 24;
                color: $grey-v11;
                line-height: $all-zero + 30;
                border-bottom: $all-zero + 1 dashed $grey-v1 $important;
            }
            .edit_text__button {
                @extend .u-absolute;
                @extend .u-no-border;
                @extend .u-no-outline;
                @extend .u-pointer-event-cursor;
                background: url(../images/pencil.svg) 0 0 no-repeat $transparent;
                top: $all-zero + 9;
                right: $all-zero;
                width: $all-zero + 16;
                height: $all-zero + 16;
            }
        }
    }
}
