.c {
    &-banner {
        &__inner {
            padding: $all-zero + 70;
            @extend .u-aligntext--center;
            h1 {
                color: $blue-v2;
                line-height: $all-zero + 62;
            }
            h5 {
                color: $grey-v7;
                font-size: $all-zero + 13;
                letter-spacing: $all-zero + 2.5;
                margin-top: $all-zero + 7;
                line-height: $all-zero + 15;
                font-family: 'ProximaNova-Regular';
                @extend .u-txt-uppercase;
                @extend .u-normal--font-weight;
            }
        }
    }
}
