.c {
    &-banner {
        &__inner {
            padding: $all-zero + 70;
            @extend .u-aligntext--center;
            h1 {
                color: $blue-v2;
            }
            h5 {
                color: $grey-v7;
            }
        }
    }
}
