.buttonimg {
    &--buttonicon {
        font-weight: 600;
        font-size: $all-zero + 16;
        padding: $all-zero + 12 $all-zero + 15;
        color: $white;
        border-color: none;
        @include border-radius(3px);
        @extend .u-display-in-block;
        @extend .u-normal--font-style;
        @extend .u-normal--line-height;
        @extend .u-aligntext--center;
        @extend .u-text-decoration--none;
        background: linear-gradient(105.23deg, rgba(17, 0, 209, 0.3) -17.68%, rgba(255, 255, 255, 0.3) 111.97%), #059CAF;
        background-blend-mode: overlay, normal;
        box-shadow: 0px 3px 7px rgba(5, 136, 152, 0.2), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        transition: all .15s ease-in-out;
        -webkit-font-smoothing: antialiased;
        &:hover {
            transform: translateY(-1px);
            box-shadow: 0px 4px 10px rgba(5, 136, 152, 0.2), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        }
        &:active {
            transform: translateY(1px);
            box-shadow: 0px 2px 3px rgba(5, 136, 152, 0.3), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        }
        i {
            background: url('../images/plus.svg') no-repeat 0 0 transparent;
            width: $all-zero + 12;
            height: $all-zero + 12;
            @extend .u-display-in-block;
        }
    }
    &--background {
        background: linear-gradient(85.99deg, rgba(248, 54, 0, 0.4) 1.87%, rgba(249, 212, 35, 0.4) 98.13%), #EE6C4D;
        box-shadow: 0px 3px 7px rgba(238, 108, 77, 0.2), 0px 3px 3px rgba(238, 108, 77, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        margin-top: -7px;
        i {
            background: none;
            width: $all-zero + 4;
            height: $all-zero + 8;
            @extend .u-display-in-block;
        }
        &--disable {
            box-shadow: none;
            background: $grey-v19;
            border-bottom: $grey-v20 solid 2px;
            margin-top: -7px;
            cursor: not-allowed;
            i {
                background: none;
                width: $all-zero + 4;
                height: $all-zero + 8;
                @extend .u-display-in-block;
            }
            &:hover {
                transform: translateY(0);
                box-shadow: none;
            }
            &:active {
                transform: translateY(0);
                box-shadow: none;
            }
             
        }
        &:hover {
            box-shadow: 0px 3px 7px rgba(238, 108, 77, 0.2), 0px 3px 3px rgba(238, 108, 77, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        }
        &:active {
            box-shadow: 0px 1px 7px rgba(238, 108, 77, 0.2), 0px 3px 3px rgba(238, 108, 77, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        }
        i {
            background: none;
            width: $all-zero + 4;
            height: $all-zero + 8;
            @extend .u-display-in-block;
        }
    }
    &--buttonsuccessicon {
        font-weight: 600;
        font-size: $all-zero + 16;
        padding: $all-zero + 12 $all-zero + 15;
        color: $white;
        border-color: none;
        line-height: $all-zero + 45;
        @include border-radius(3px);
        @extend .u-display-in-block;
        @extend .u-normal--font-style;
        @extend .u-normal--line-height;
        @extend .u-aligntext--center;
        @extend .u-text-decoration--none;
        background-color: #00AE81 !important;
        box-shadow: 0px 3px 7px rgba(5, 136, 152, 0.2), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        transition: all .15s ease-in-out;
        -webkit-font-smoothing: antialiased;
        &:hover {
            transform: translateY(-1px);
            box-shadow: 0px 4px 10px rgba(5, 136, 152, 0.2), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        }
        &:active {
            transform: translateY(1px);
            box-shadow: 0px 2px 3px rgba(5, 136, 152, 0.3), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        }
        i {
            background: url('../images/tick-vector.svg') no-repeat 0 2px transparent;
            width: $all-zero + 12;
            height: $all-zero + 12;
            @extend .u-display-in-block;
        }
    }
}

a {
    &.button-regular {
        &.buttonimg {
            &--buttonsuccessicon {
                line-height: $all-zero + 45 !important;
            }
        }
    }
}

@include b($bem-utility + -btn-icon){
    font-weight: 600;
    font-size: $all-zero + 16;
    padding: $all-zero + 12 $all-zero + 15;
    color: $white;
    border-color: none;
    @include border-radius(3px);
    @extend .u-display-in-block;
    @extend .u-normal--font-style;
    @extend .u-normal--line-height;
    @extend .u-aligntext--center;
    @extend .u-text-decoration--none;
    background: linear-gradient(105.23deg, rgba(17, 0, 209, 0.3) -17.68%, rgba(255, 255, 255, 0.3) 111.97%), #059CAF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 3px 7px rgba(5, 136, 152, 0.2), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
    transition: all .15s ease-in-out;
    -webkit-font-smoothing: antialiased;
    &:hover {
        transform: translateY(-1px);
        box-shadow: 0px 4px 10px rgba(5, 136, 152, 0.2), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
    }
    &:active {
        transform: translateY(1px);
        box-shadow: 0px 2px 3px rgba(5, 136, 152, 0.3), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
    }
    i {
        background: url('../images/plus.svg') no-repeat 0 0 transparent;
        width: $all-zero + 12;
        height: $all-zero + 12;
        @extend .u-display-in-block;
    }
    @include m(background){
        background: linear-gradient(85.99deg, rgba(248, 54, 0, 0.4) 1.87%, rgba(249, 212, 35, 0.4) 98.13%), #EE6C4D;
        box-shadow: 0px 3px 7px rgba(238, 108, 77, 0.2), 0px 3px 3px rgba(238, 108, 77, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        &:hover {
            box-shadow: 0px 3px 7px rgba(238, 108, 77, 0.2), 0px 3px 3px rgba(238, 108, 77, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        }
        &:active {
            box-shadow: 0px 1px 7px rgba(238, 108, 77, 0.2), 0px 3px 3px rgba(238, 108, 77, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        }
        i {
            background: url('../images/chevron-right.svg') no-repeat 0 0 transparent;
            @extend .u-relative;
            top: $all-zero + 2;
        }
    }
    @include m(buttonsuccessicon) {
        font-weight: 600;
        font-size: $all-zero + 16;
        padding: $all-zero + 12 $all-zero + 15;
        color: $white;
        border-color: none;
        line-height: $all-zero + 45;
        @include border-radius(3px);
        @extend .u-display-in-block;
        @extend .u-normal--font-style;
        @extend .u-normal--line-height;
        @extend .u-aligntext--center;
        @extend .u-text-decoration--none;
        background-color: #00AE81 !important;
        box-shadow: 0px 3px 7px rgba(5, 136, 152, 0.2), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        transition: all .15s ease-in-out;
        -webkit-font-smoothing: antialiased;
        &:hover {
            transform: translateY(-1px);
            box-shadow: 0px 4px 10px rgba(5, 136, 152, 0.2), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        }
        &:active {
            transform: translateY(1px);
            box-shadow: 0px 2px 3px rgba(5, 136, 152, 0.3), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
        }
        i {
            background: url('../images/tick-vector.svg') no-repeat 0 2px transparent;
            width: $all-zero + 12;
            height: $all-zero + 12;
            @extend .u-display-in-block;
        }
    }
}