@include b($bem-component + -btn-outline-icon){
    font-weight: 600;
    font-size: $all-zero + 16;
    padding: $all-zero + 10 $all-zero + 15;
    font-style: normal;
    text-align: center;
    color: #059CAF;
    border: 2px solid #059CAF;
    box-sizing: border-box;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    text-decoration: none;
    @extend .u-display-in-block;
    background: $white;
    transition: all .15s ease-in-out;
    -webkit-font-smoothing: antialiased;
    line-height: $all-zero + 20;
    min-width: 85px;
    &:hover {
        transform: translateY(-1px);
    }
    &:active {
        transform: translateY(1px);
    }
    i {
        width: $all-zero + 12;
        height: $all-zero + 12;
        @extend .u-display-in-block;
        path {
            stroke: #059CAF;
        }
    }
    @include m(transparent) {
        background: transparent;
    }
    @include m(orange) {
        color: $orange-v1;
        border: $orange-v1 solid 2px;
        i {
            path {
                stroke: $orange-v1;
            }
        }
    }
    @include m(grey) {
        color: $grey-v4;
        border: $grey-v6 solid 2px;
        i {
            path {
                stroke: $grey-v4
            }
        }
    }
    @include m(small) {
        padding: $all-zero + 6 $all-zero + 15;
    }
}