.tag {
    font-family: 'Proxima Nova';
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0px 8px;
    &-received {
        color: #FFA179;
        background: #FFFAF7;
        border-color: #F69F8A;
    }
    &-complete {
        color: #68BE8C;
        background: #F5FFF9;
        border-color: #68BE8C;
    }
    &-select {
        &-underway {
            color: #2080B7;
            background: #F7FCFF;
            border-color: #2080B7;
        }
    }
    &-modeling {
        &-underway {
            color: #11545F;
            background: #F1FDFF;
            border-color: #096A7A;
        }
    }
    &-prep {
        &-underway {
            color: #CC9036;
            background: #FFFDF5;
            border-color: #E3AF62;
        }
    }
}
