.c-input {
    &--small {
        .input-wrap {
            position: relative;
            width: 100%;
            height: 33px;
            font-family: 'Source Sans Pro';

            &.has-alert .alert-text {
                display: block;
            }
            &--width192 {
                width: $all-zero + 192;
            }
        }

        .input-wrap .input-label {
            position: absolute;
            top: 8px;
            left: 11px;
            font-size: 14px;
            color: #9DAAB5;
            transition: .2s all ease-out;
            pointer-events: none;
            transform-origin: top left;
            z-index: 10;
            cursor: default;
            text-transform: none;
            letter-spacing: normal;
        }

        .input-wrap .input-box:focus + .input-label {
            padding: 0 5px;
            font-size: 14px;
            transform: translate(-2px, -15px) scale(0.75);
            color: #9DAAB5;
            background-color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .input-box:valid + .input-label {
            padding: 0 5px;
            font-size: 14px;
            transform: translate(-2px, -15px) scale(0.75);
            color: #9DAAB5;
            background-color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .input-box {
            width: 100%;
            height: 100%;
            padding-left: 11px;
            font-size: 14px;
            color: #273A4B;
            border: 1px solid #BEC6CE;
            box-sizing: border-box;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
            border-radius: 3px;
            background-color: #fff;

            &:focus {
                outline: none;
            }

            .alert-error & {
                border: 1px solid #B13535;
                color: #B34646;
            }

            .alert-success & {
                border: 1px solid #219653;
                color: #008a3a;
            }
        }

        .input-icon {
            position: absolute;
            right: 18px;
            top: 12px;
        }

        .alert-text {
            display: none;
            width: 100%;
            height: 30px;
            box-sizing: border-box;
            margin-top: 0;
            padding: 0 0 0 10px;
            font-size: 14px;
            font-family: 'source sans pro';
            line-height: 30px;
            border-radius: 0 0 3px 3px;

            .alert-error & {
                color: #B13535;
                background-color: rgba(177, 53, 53, .05);
            }

            .alert-success & {
                color: #009840;
                background-color: rgba(33, 150, 83, .05);
            }
        }
    }
    &__label {
        letter-spacing: 0.05em;
        color: $grey-v6;
        margin-right: $all-zero + 12;
        font-size: $all-zero + 13;
        @extend .u-display-in-block;
        @extend .u-txt-uppercase;
    }
}
