.input--size-small {
    height: 33px;

    .input__label {
        font-size: 14px;
        top: 8px;
        left: 13px;        
    }

    .input__field {
        font-size: 14px;
    }

    .input__icon {
        right: 13px;
        top: 11px;
    }
}

.input--size-small .input__field:focus + .input__label,
.input--size-small .input__field:valid + .input__label {
    padding: 0 5px;
    font-size: 16px;
    color: #9DAAB5;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translate(-1px, -17px) scale(0.75);
}