.c-input {
    &--small {
        .input-wrap {
            position: relative;
            width: 100%;
            height: 33px;
            font-family: 'Source Sans Pro';

            &.has-alert .alert-text {
                display: block;
            }
            &--width192 {
                width: $all-zero + 192;
            }
        }

        .input-wrap .input-label {
            @extend .u-absolute;
            top: $all-zero + 8;
            left: $all-zero + 11;
            font-size: $all-zero + 14;
            color: $grey-v7;
            @include transition (.2s all ease-out);
            @extend .u-pointer-event-none;
            transform-origin: top left;
            z-index: 10;
            cursor: default;
            @extend .u-text-transform-none;
            letter-spacing: normal;
        }

        .input-wrap .input-box:focus + .input-label {
            padding: $all-zero $all-zero + 5;
            font-size: $all-zero + 14;
            transform: translate(-2px, -15px) scale(0.75);
            color: $grey-v7;
            background-color: $white;
            @extend .u-txt-uppercase;
            letter-spacing: $all-zero + 2;
        }
        .input-box:valid + .input-label {
            padding: $all-zero $all-zero + 5;
            font-size: $all-zero + 14;
            transform: translate(-2px, -15px) scale(0.75);
            color: $grey-v7;
            @extend .u-bg-color-fff;
            @extend .u-txt-uppercase;
            letter-spacing: $all-zero + 2;
        }

        .input-box {
            @extend .u-width-100;
            @extend .u-height-100;
            padding-left: $all-zero + 11;
            font-size: $all-zero + 14;
            color: $dark-v1;
            border: $all-zero + 1 solid $grey-v1;
            @extend .u-box-module--borderbox;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
            @include border-radius (3px 3px 3px 3px);
            background-color: $white;

            &:focus {
                @extend .u-no-outline;
            }

            .alert-error & {
                border: $all-zero + 1 solid $red-v1;
                color: $red-v2;
            }

            .alert-success & {
                border: $all-zero + 1 solid $green-v2;
                color: $green-v3;
            }
        }

        .input-icon {
            @extend .u-absolute;
            right: $all-zero + 18;
            top: $all-zero + 12;
        }

        .alert-text {
            display: none;
            @extend .u-width-100;
            height: $all-zero + 30;
            @extend .u-box-module--borderbox;
            margin-top: $all-zero;
            padding: $all-zero $all-zero $all-zero $all-zero + 10;
            font-size: $all-zero + 14;
            font-family: 'source sans pro';
            line-height: $all-zero + 30;
            border-radius: $all-zero $all-zero $all-zero + 3 $all-zero + 3;

            .alert-error & {
                color: $red-v1;
                background-color: rgba(177, 53, 53, .05);
            }

            .alert-success & {
                color: $green-v5;
                background-color: rgba(33, 150, 83, .05);
            }
        }
    }
    &__label {
        letter-spacing: 0.05em;
        color: $grey-v6;
        margin-right: $all-zero + 8;
        font-size: $all-zero + 13;
        @extend .u-display-in-block;
        @extend .u-txt-uppercase;
        &--dark {
            @extend .c-input__label;
            font-weight: 600;
            margin-top: 5px;
        }
    }
}
