.c-settingBtn {
    &--makecenter {
        @extend .u-relative;
        margin-top: $all-zero + 100;
    }
    &__inner {
        @extend .u-display-flex;
        @extend .u-height-100;
        justify-content: center;
        align-items: center;
        @extend .u-absolute;
        @extend .u-top-0;
        @extend .u-right-0;
        @extend .u-bot-0;
        @extend .u-left-0;
        .settings-container {
            @extend .u-relative;
        }

        .gear-icon {
            top: $all-zero + 7;
            left: $all-zero + 9;
            @extend .u-absolute;
            @extend .u-pointer-event-none;
        }

        .settings-button {
            @extend .u-relative;
            width: $all-zero + 52;
            height: $all-zero + 33;
            @include border-radius(3px 3px 3px 3px);
            @extend .u-cursor-pointer;
            background-color: rgba(190, 198, 206, 0.3);
            background-image: url(../images/dropdown-arrow.svg);
            @extend .u-background-norepeat;
            border: none;
            background-position: top 15px left 34px;
        }
        .settings-button:focus {
            outline: none;

            & + .dropdown-content {
                display: block;
                @extend .u-absolute;
                top: $all-zero + 34;
                outline: none;
            }
        }

        .dropdown-content a {
            display: inline-block;
            padding: $all-zero $all-zero + 15;
            @extend .u-text-decoration--none;
            font-family: 'Source Sans Pro';
            font-size: $all-zero + 14;
            color: $grey-v4;
            width: 93%;
            height: 100%;
            @extend .u-whitespace-nowrap;
            margin-top: $all-zero;
        }

        .dropdown-search-bar {
            @extend .u-box-module--borderbox;
        }

        .dropdown-content {
            @extend .u-absolute;
            display: none;
            min-width: $all-zero + 200;
            @extend .u-list-style--none;
            border-radius: $all-zero + 3;
            box-shadow: 0px 1px 4px rgba(19, 53, 84, 0.04),
            0px 8px 13px rgba(0, 52, 101, 0.03),
            0px 11px 20px rgba(0, 0, 0, 0.05);
            padding-left: $all-zero;
            background-color: $white;

            &:hover {
                display: block;
            }

            li {
                @extend .u-box-module--borderbox;
                padding: $all-zero $all-zero + 15 $all-zero $all-zero;
                @extend .u-width-100;
                line-height: $all-zero + 39;
                border-bottom: $all-zero + 1 solid $grey-v5;

                &:first-child {
                    border-top: $all-zero + 1 solid $grey-v5;
                    border-right: $all-zero + 1 solid $grey-v5;
                    border-left: $all-zero + 1 solid $grey-v5;
                    @include border-radius(3px 3px 0 0);
                }

                &:last-child {
                    border-bottom: $all-zero + 1 solid $grey-v5;
                    border-right: $all-zero + 1 solid $grey-v5;
                    border-left: $all-zero + 1 solid $grey-v5;
                    border-top: none;
                    @include border-radius(0px 0px 3px 3px);
                }

                &:not(:first-child),
                &:not(:last-child) {
                    border-right: $all-zero + 1 solid $grey-v5;
                    border-left: $all-zero + 1 solid $grey-v5;
                }

                &:not(:first-child):hover {
                    //                    height: 41px;
                    margin-top: -1px;
                    border-bottom: $all-zero + 1 solid $blue-v3;
                    border-top: $all-zero + 1 solid $blue-v3;
                }

                &:first-child:hover {
                    border-top: $all-zero + 1 solid $blue-v3;
                    border-right: $all-zero + 1 solid $blue-v3;
                    border-left: $all-zero + 1 solid $blue-v3;
                    border-bottom: $all-zero + 1 solid $blue-v3;

                    .level-2-dropdown {
                        display: block;
                    }
                }

                &:last-child:hover {
                    border-top: $all-zero + 1 solid $blue-v3;
                    border-right: $all-zero + 1 solid $blue-v3;
                    border-left: $all-zero + 1 solid $blue-v3;
                    border-bottom: $all-zero + 1 solid $blue-v3;
                }

                &:hover {
                    background-color: $blue-v4;
                }
            }
        }

        .level-1-dropdown {
            margin: $all-zero;
            top: $all-zero + 34;
            left: $all-zero;
            z-index: 10;

            & > li {
                width: 100%; //                height: 40px;
                border-bottom: $all-zero + 1 solid $grey-v5;

                &:first-child:hover {
                    border-top: $all-zero + 1 solid $blue-v3;
                    border-right: $all-zero + 1 solid $blue-v3;
                    border-left: $all-zero + 1 solid $blue-v3;
                    border-bottom: $all-zero + 1 solid $blue-v3;
                    @include border-radius(3px 3px 0 0);
                    background-color: $blue-v4;
                }
            }
        }

        .level-2-dropdown {
            @extend .u-absolute;
            top: 0%;
            left: 100%;
            margin-right: -1px;
            z-index: 100;

            li {
                border-bottom: $all-zero + 1 solid $grey-v5;

                &:first-child {
                    border-top: $all-zero + 1 solid $grey-v5;
                    border-right: $all-zero + 1 solid $grey-v5;
                    border-left: $all-zero + 1 solid $grey-v5;
                    @include border-radius(3px 3px 0 0);
                    background-color: $white;
                    @extend .u-box-module--borderbox;
                    padding: $all-zero + 13 $all-zero + 16 $all-zero + 8 $all-zero + 16;
                }

                &:first-child:hover {
                    border-top: $all-zero + 1 solid $grey-v5;
                    border-right: $all-zero + 1 solid $grey-v5;
                    border-left: $all-zero + 1 solid $grey-v5;
                    border-bottom: $all-zero + 1 solid $grey-v5;
                    @include border-radius(3px 3px 0 0);
                    background-color: $white;
                }
            }
        }


        .settings-container:focus .dropdown-content {
            display: block;
        }

        .input-wrap {
            @extend .u-relative;
            @extend .u-width-100;
            height: $all-zero + 45;
        }
        .create-select-codes-wrap {
            top: -22px;
        }

        .input-label {
            @extend .u-absolute;
            left: $all-zero + 12;
            top: $all-zero + 1;
            font-size: $all-zero + 14;
            color: $grey-v7;
            font-family: 'Source Sans Pro';
            transition: .2s all ease-out;
            letter-spacing: normal;
            transform-origin: top left;
            z-index: 10;
            cursor: default;
            @extend .u-pointer-event-none;
            @extend .u-text-transform-none;
        }

        .input-wrap .input-box:focus + .input-label {
            padding: $all-zero $all-zero + 5;
            font-size: $all-zero + 14;
            transform: translate(-2px, -4px) scale(0.75);
            color: $grey-v7;
            background-color: $white;
            line-height: $all-zero + 13;
            @extend .u-txt-uppercase;
            letter-spacing: $all-zero + 2;
        }

        .input-box:valid + .input-label {
            padding: $all-zero $all-zero + 5;
            font-size: $all-zero + 14;
            transform: translate(-2px, -4px) scale(0.75);
            color: $grey-v7;
            background-color: $white;
            line-height: $all-zero + 13;
            @extend .u-txt-uppercase;
            letter-spacing: $all-zero + 2;
        }

        .input-box {
            @extend .u-width-100;
            height: $all-zero + 32;
            padding-left: $all-zero + 12;
            font-family: 'Source Sans Pro';
            font-size: $all-zero + 14;
            color: $dark-v1;
            border: $all-zero + 1 solid $grey-v1;
            @extend .u-box-module--borderbox;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
            border-radius: 3px;
            background-color: #ffffff;

            &:focus {
                outline: none;
            }
        }

        .input-icon {
            position: absolute;
            right: $all-zero + 14;
            top: $all-zero + 14;
        }
        .create-codes-dropdown {
            min-width: $all-zero + 288;
            height: $all-zero + 179;
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 20px;
            text-align: center;
            color: #273A4B;
            position: absolute;
            top: 32%;
            margin-top: 1px;
            left: 100%;
            margin-right: -1px;
            border: 1px solid #D5DCE3;
            box-sizing: border-box;
        }

        .create-codes-container:hover {
            .create-codes-dropdown {
                display: block;
            }
        }

        .create-codes-label {
            position: absolute;
            left: 30px;
            top: -5px;
            font-size: 14px;
            font-family: 'Source Sans Pro';
            color: #9DAAB5;
            transition: .2s all ease-out;
            pointer-events: none;
            transform-origin: top left;
            z-index: 10;
            cursor: default;
        }
        .input-wrap .input-box:focus + .create-codes-label {
            padding: 0 5px;
            font-size: 14px;
            transform: translate(-2px, -13px) scale(0.75);
            color: #9DAAB5;
            background-color: #fff;
            line-height: 13px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .input-box:valid + .create-codes-label {
            padding: 0 5px;
            font-size: 14px;
            transform: translate(-2px, -13px) scale(0.75);
            color: #9DAAB5;
            background-color: #fff;
            line-height: 13px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        h5 {
            position: relative;
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 20px;
            text-align: center;
            color: #273A4B;
            top: -15px;
        }

        .create-codes-input {
            position: absolute;
            width: 248px;
            height: 33px;
            top: -12px;
            left: 19px;
            font-size: 14px;
        }

        a.button {
            position: absolute;
            top: 42px;
            left: 63px;
            width: 145px;
            padding: 0 18px;
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            border: none;
            color: #FFFFFF;
            border-radius: 3px;
            background: linear-gradient(102.52deg, rgba(17, 0, 209, 0.3) -18.15%, rgba(255, 255, 255, 0.3) 111.87%), #059CAF;
            background-blend-mode: overlay, normal;
            box-shadow: 0px 3px 7px rgba(5, 136, 152, 0.2), 0px 1px 1px rgba(15, 60, 66, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
            height: 39px;
            line-height: 39px;
        }
    }
    &--style {
        @extend .u-display-in-block;
        @extend .u-static;
    }
}
