.input {
    width: 100%;
    position: relative;
    font-family: 'source sans pro';
    height: 45px;
}

 
.input--has-alert-error .input__alert,
.input--has-alert-success .input__alert {
    display: block;
}


.input__field {
    width: 100%;    
    color: #273A4B;
    height: 100%;
    padding-left: 15px;
    font-size: 16px;
    border: 1px solid #BEC6CE;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    background-color: #ffffff;
    
    &:focus {
        outline: none;
    }
    
    .input--has-alert-error & {
        border: 1px solid #B13535;
        color: #B34646;
    }
    
    .input--has-alert-success & {
        border: 1px solid #219653;
        color: #00923d;
    }
}

.input__label {
    position: absolute;    
    top: 13px;
    left: 15px;
    font-size: 16px;
    color: #9DAAB5;
    transition: .2s all ease-out;
    pointer-events: none;
    transform-origin: top left;
    z-index: 10;
    cursor: default;
    text-transform: none;
    letter-spacing: normal;

    .input__field:focus + &,
    .input__field:valid + & {
        padding: 0 5px;
        color: #9DAAB5;
        background-color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        transform: translate(-2px, -21px) scale(0.75);
    }
}

.input__icon {
    position: absolute;
    right: 18px;
    top: 18px;
}

.input__alert {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    margin-top: 0;
    padding: 0 0 0 10px;
    font-size: 14px;
    font-family: 'source sans pro';
    line-height: 30px;
    border-radius: 0 0 3px 3px;

    .input--has-alert-error & {
        color: #B13535;
        background-color: rgba(177, 53, 53, .05);
    }

    .input--has-alert-success & {
        color: #0F6E37;
        background-color: rgba(33, 150, 83, .05);
    }
}
