.c-input {
    &--regular {
        .input-wrap {
            position: relative;
            width: 100%;
            height: 45px;

            &.has-alert .alert-text {
                display: block;
            }
        }

        .input-wrap .input-label {
            position: absolute;
            top: 13px;
            left: 15px;
            font-size: 16px;
            color: #9DAAB5;
            transition: .2s all ease-out;
            pointer-events: none;
            transform-origin: top left;
            z-index: 10;
            cursor: default;
            text-transform: none;
            letter-spacing: normal;
        }

        .input-wrap .input-box:focus + .input-label {
            padding: 0 5px;
            font-size: 16px;
            transform: translate(-1px, -22px) scale(0.75);
            color: #9DAAB5;
            background-color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .input-box:valid + .input-label {
            padding: 0 5px;
            font-size: 16px;
            transform: translate(-1px, -20px) scale(0.7);    
            color: #9DAAB5;
            background-color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .input-box {
            width: 100%;
            height: 45px;
            padding-left: 15px;
            font-size: 16px;
            color: #273A4B;
            border: 1px solid #BEC6CE;
            box-sizing: border-box;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
            border-radius: 3px;
            background-color: #ffffff;

            &:focus {
                outline: none;
            }

            .alert-error & {
                border: 1px solid #B13535;
                color: #B34646;
            }

            .alert-success & {
                border: 1px solid #219653;
                color: #008a3a;
            }
        }

        .input-icon {
            position: absolute;
            right: 18px;
            top: 18px;
        }

        .alert-text {
            display: none;
            width: 100%;
            height: 30px;
            box-sizing: border-box;
            margin-top: 0;
            padding: 0 0 0 10px;
            font-size: 14px;
            font-family: 'source sans pro';
            line-height: 30px;
            border-radius: 0 0 3px 3px;

            .alert-error & {
                color: #B13535;
                background-color: rgba(177, 53, 53, .05);
            }

            .alert-success & {
                color: #0F6E37;
                background-color: rgba(33, 150, 83, .05);
            }
        }
    }
}
