// Login
body {
    @extend .u-height-100;
}

.c {
    &-formContainer {
        background-color: $grey-v2;
        @extend .u-display-flex;
        @extend .u-justify--center;
        @extend .u-align-item--center;
        @extend .u-absolute;
        @extend .u-all-0;
        &__inner {
            font-family: 'source sans pro';
            width: $all-zero + 336;
            height: $all-zero + 339;
            padding: $all-zero + 27;
            border: $all-zero + 1 solid $grey-v3;
            @include border-radius(3px);
            background-color: $white;
            @extend .u-block-elm-center;
            @extend .u-display-block;
            @extend .u-box-module--borderbox;
            @extend .u-bx-shadow--loginBx;
            @extend .u-text-decoration--none;
            @extend .u-relative;
            transition: all .125s ease-in-out;
        }
        &__header {
            font-family: 'Source Sans Pro';
            color: $dark-v1;
            font-size: $all-zero + 39;
            margin: $all-zero $all-zero $all-zero + 25 $all-zero;
            @extend .u-normal--font-weight;
            @extend .u-normal--line-height;
            @extend .u-aligntext--center;
        }
    }
}

.input-content__content {
    margin-top: 29px;
}

.input-wrap {
    &--loginSection {
        @extend .u-relative;
        @extend .u-width-100;
        height: $all-zero + 45;
    }
}

.formbottom {
    &--topmargin {
        margin: $all-zero + 40 $all-zero $all-zero;
        @extend .u-aligntext--center;
        font-size: $all-zero + 10;
    }
}

.forgot__password {
    padding-top: 10px;
    text-align: center;
    a {
        color: #059CAF;
        font-size: 14px;
        @extend .u-text-decoration--none;
    }
}

.clarity-logo {
    @extend .u-absolute;
    @extend .u-left-0;
    @extend .u-width-100;
    @extend .u-aligntext--center;
    height: auto;
    top: -83px;
}
